/*gallery*/
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: rgba(0, 0, 0, 0.7);
}

.slider {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

/*weather*/
.scroll-content {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*map*/
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.has-errors {
    /*border-left: 3px solid #cc2511;
    border-right: 3px solid #cc2511;*/
    display: none;
}

.no-errors {
    /*border-left: 3px solid #3d8b3d;
    border-right: 3px solid #3d8b3d;*/
    display: block;
}

.img-container {
    width: 50%;
    height: 15em;
    margin: 0 auto;
    overflow: hidden;
}

.img-circle {
    position: relative;
    max-height: 100%;
    border-radius: 50%;
}