<ion-view view-title="Wideo">
    <ion-content padding="true">
        <div class="row row-center">
            <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline">
                <source src="http://www.bartlomiej-zmudzinski.pl/magisterka/multimedia/kropki.mp4" type="video/mp4"/>
            </video>
        </div>
    </ion-content>
</ion-view>