<div class="modal image-modal transparent" on-swipe-down="closeModal()">
  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
    <ion-slide ng-repeat="image in images">
 
      <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
      zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
      delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">
 
      <div class="image" style="background-image: url( {{image.src}} )"></div>
      
    </ion-scroll>
  </ion-slide>
</ion-slide-box>
</div>