<ion-view view-title="Multimedia">
    <ion-content class="padding">
        <h4 style="text-align: center;">Co chcesz odtworzyć?</h4><br/>

        <a href="#/tab/multimedia/audio" style="text-decoration: none;">
            <button class="button button-full button-positive">Audio</button>
        </a>
        <a href="#/tab/multimedia/video" style="text-decoration: none;">
            <button class="button button-full button-positive">Wideo</button>
        </a>
    </ion-content>
</ion-view>