<ion-view view-title="Galeria">
    <ion-content padding="true">
        <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
                <img ng-src="{{ images[$index].min}}" width="100%" ng-click="showImages($index)" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
                <img ng-src="{{ images[$index + 1].min}}" width="100%" ng-click="showImages($index)" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
                <img ng-src="{{ images[$index + 2].min}}" width="100%" ng-click="showImages($index)" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.length">
                <img ng-src="{{ images[$index + 3].min}}" width="100%" ng-click="showImages($index)" />
            </div>
        </div>
    </ion-content>
</ion-view>
