<ion-view view-title="Pogoda">
    <ion-content class="padding">
        <h4 style="text-align: center;">Gdzie sprawdzić pogodę?</h4><br/>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="..." ng-model="data.city">
            </label>
        </div>
        <a href="#/tab/weather/actual" style="text-decoration: none;">
            <button class="button button-full button-positive">Sprawdź</button>
        </a>
    </ion-content>
</ion-view>