<ion-view view-title="Kontakty">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-personadd" href="#/tab/contacts/add"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="contact in contacts" href="#/tab/contacts/detail/{{ contact.id }}" class="item-avatar">
                <img ng-if="contact.face" ng-src="{{ contact.face }}">
                <img ng-if="!contact.face" src="img/person-icon.png">

                <div class="row">
                    <div class="col">
                        <h2>{{ contact.name }} {{ contact.surname }}</h2>
                    </div>
                </div>


            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>