<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-dark tabs-striped tabs-icon-bottom tabs-color-energized">

    <!-- Contacts Tab -->
    <ion-tab title="Kontakty" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/contacts">
        <ion-nav-view name="tab-contacts"></ion-nav-view>
    </ion-tab>

    <!-- Weather Tab -->
    <ion-tab title="Pogoda" icon-off="ion-ios-partlysunny-outline" icon-on="ion-ios-partlysunny" href="#/tab/weather">
        <ion-nav-view name="tab-weather"></ion-nav-view>
    </ion-tab>

    <!-- Gallery Tab -->
    <ion-tab title="Galeria" icon-off="ion-images" icon-on="ion-images" href="#/tab/gallery">
        <ion-nav-view name="tab-gallery"></ion-nav-view>
    </ion-tab>

    <!-- Multimedia Tab -->
    <ion-tab title="Multimedia" icon-off="ion-videocamera" icon-on="ion-videocamera" href="#/tab/multimedia">
        <ion-nav-view name="tab-multimedia"></ion-nav-view>
    </ion-tab>

    <!-- Map Tab -->
    <ion-tab title="Mapa" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <!-- Login Tab --
    <ion-tab title="Logowanie" icon-off="ion-social-facebook-outline" icon-on="ion-social-facebook" href="#/tab/login">
        <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab> -->

</ion-tabs>
