<ion-view view-title="Nowy kontakt">
    <ion-content class="padding">
        <form name="contactForm" novalidate ng-submit="save(contactForm, formData)">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Imię:</span>
                    <input type="text" name="name" ng-model="formData.name" ng-minlength="3" ng-maxlength="30"
                           required>
                        <div ng-show="contactForm.name.$error.required" class="assertive">Imię jest wymagane!</div>
                        <div ng-show="contactForm.name.$error.minlength" class="assertive">Imię musi mieć przynajmniej 3 znaki!</div>
                        <div ng-show="contactForm.name.$error.maxlength" class="assertive">Imię może mieć maksymalnie 30 znaków!</div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nazwisko:</span>
                    <input type="text" name="surname" ng-model="formData.surname" ng-minlength="3" ng-maxlength="30"
                           required>

                        <div ng-show="contactForm.surname.$error.required" class="assertive">Nazwisko jest wymagane!</div>
                        <div ng-show="contactForm.surname.$error.minlength" class="assertive">Nazwisko musi mieć przynajmniej 3 znaki!</div>
                        <div ng-show="contactForm.surname.$error.maxlength" class="assertive">Nazwisko może mieć maksymalnie 30 znaków!</div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Numer telefonu:</span>
                    <input type="text" name="phone" ng-model="formData.phone" ng-pattern="/^\d{9}$/" required>

                        <div ng-show="contactForm.phone.$error.required" class="assertive">Numer telefonu jest wymagany!</div>
                        <div ng-show="contactForm.phone.$error.pattern" class="assertive">Numer telefonu musi zawierać 9 cyfr!</div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-mail:</span>
                    <input type="email" name="email" ng-model="formData.email">

                        <div ng-show="contactForm.email.$error.email" class="assertive">Adres e-mail jest niepoprawny!</div>
                </label>

                <button class="button button-full button-balanced">Zapisz</button>
            </div>
        </form>
    </ion-content>
</ion-view>