<ion-view>
    <ion-nav-title>{{ contact.name }} {{ contact.surname }}</ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-edit" href="#/tab/contacts/edit/{{ contact.id }}"></a>
        <a class="button button-icon icon ion-ios-trash" ng-click="removeModal()"></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="img-container">
            <img ng-if="contact.face" ng-src="{{ contact.face }}" class="img-circle">
            <img ng-if="!contact.face" src="img/person-icon.png" class="img-circle">
        </div>
        <div class="list list-inset">
            <div class="item">
                <h2>{{ contact.name }} {{ contact.surname }}</h2>
                <p>Imię i nazwisko</p>
            </div>
            <div class="item">
                <h2>{{ contact.phone }}</h2>
                <p>Numer telefonu</p>
            </div>
            <div class="item">
                <h2>{{ contact.email }}</h2>
                <p>E-mail</p>
            </div>
        </div>
    </ion-content>
</ion-view>