<div class="modal image-modal transparent" on-swipe-down="closeModal()">
    <div style="background: #ffffff; margin-top: 50%;">
        <div class="row row-center">
            <h3>Czy napewno usunąć kontakt?</h3>
        </div>
        <div class="row row-center">
            <h2>{{ contact.name }} {{ contact.surname }}</h2>
        </div>
        <div class="row">
            <div class="col col-50">
                <button class="button button-full button-balanced" ng-click="remove()">Usuń</button>
            </div>
            <div class="col col-50">
                <button class="button button-full button-positive" ng-click="closeModal()">Anuluj</button>
            </div>
        </div>
    </div>
</div>