<ion-view view-title="Pogoda">
    <ion-content class="scroll-content" style="padding: 10px;">
        <h2>{{ city }}, {{ country }}</h2>

        <p><img ng-src="{{ img }}"></p>

        <div class="row">
            <div class="col col-50"><h4>Temperatura:</h4></div>
            <div class="col"><h4>{{ temp }}°</h4></div>
        </div>
        <div class="row">
            <div class="col col-50"><h4>Ciśnienie:</h4></div>
            <div class="col"><h4>{{ pressure }}hPa</h4></div>
        </div>
        <div class="row">
            <div class="col col-50"><h4>Wilgotność:</h4></div>
            <div class="col"><h4>{{ humidity }}%</h4></div>
        </div>


        <div style="position: absolute; bottom: 10px; width: 100%">
            <a href="#/tab/weather/forecast" style="text-decoration: none;">
                <button class="button button-full button-balanced">Pogoda na 16 dni</button>
            </a>
        </div>
    </ion-content>
</ion-view>