<ion-view>
    <ion-nav-title>{{ city }} - Pogoda na 16 dni</ion-nav-title>
    <ion-content class="scroll-content">
        <ion-list>
            <ion-item ng-repeat="day in weather">
                <div class="row">
                    <div class="col col-25 col-center">{{ day._day }}</div>
                    <div class="col col-25"></div>
                    <div class="col col-25 col-center"><img ng-src="http://openweathermap.org/img/w/{{ day.symbol._var }}.png"></div>
                    <div class="col col-25 col-center">{{ day.temperature._day }}°</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>